* {
	padding: 0;
	margin: 0;
	box-sizing: 0;
	cursor: none;
	font-family: 'Poppins', sans-serif;
}

.App {
	background-color: black;
}

.circle {
	background-color: rgb(179, 0, 255);
	width: 100px;
	height: 100px;
	filter: blur(10px);
	border-radius: 50%;
}

.circle-container {
	display: flex;
	z-index: -1;
	position: absolute;
	top: 0;
}

.mouse {
	border: 2px solid rgba(0, 0, 0);
	height: 40px;
	width: 25px;
	border-radius: 0 0 25px 25px;
	position: relative;
}

.wheel {
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
}

.cursor {
	background-color: #111;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}
