* {
	padding: 0;
	margin: 0;
	box-sizing: 0;
	font-family: 'Poppins', sans-serif;
}

.App {
	background-color: black;
}

.circle {
	background-color: rgb(179, 0, 255);
	width: 100px;
	height: 100px;
	filter: blur(10px);
	border-radius: 50%;
}

.text-container {
	position: relative;

	margin-bottom: 10em;
}

.circle-container {
	display: flex;
	z-index: -1;
	position: absolute;
	top: 0;
}
